@import "../scss/reset";
@import "../scss/fonts";

$base-color: #8ee3ef;
$inactive: rgba($base-color, 0.88);

html {
  @extend %fontfamily;

  body {
    user-select: none;
    max-width: 1200px;
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/bg.svg);
    background-size: 100%;
    background-repeat: repeat;

    .current-time {
      color: $base-color;
      font-size: 2rem;
    }
  }
}

@import "../scss/adaptive";
